Violent/Intermediate/
Violent/DerivedDataCache/
Violent/Saved/
Violent/Platforms/
Violent/Binaries/
Violent/.vs/
Violent/.idea/
Violent/.vsconfig
demo2/Intermediate/
demo2/DerivedDataCache/
demo2/Saved/
demo2/Platforms/
demo2/Binaries/
demo2/.vs/
demo2/.idea/
demo2/.vsconfig